.Nav_items{
    
    height: 70px;
    background-color: black;
    color:blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.Nav_items span{
    width: 1000px;
}
.Allnavitems{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: red;
    margin-left: 100px;
    
}
